body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.body-section { 
    background-color:#E554731A;
    width:1920px;
    height:850px;
    flex-shrink:0;
}
.top-contenir {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;

}

.short-d-one {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}
.heading-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}
.btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border-width: 0;
}
.one-item {
    height: 538px;
    width: 464px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    

}

.head-side {
    display: flex;
    justify-content: space-between;
    margin: 0 240px 0 240px;
    gap:24px;
    margin-top: 48px;
}
.img-one {
    position: relative;
    top:110px;
    left: 60px;
}
.img-two {

    position: relative;
    top:110px;
    left: 60px;
}
.img-three {
    position: relative;
    top:65px;
    left: 60px;
}

h2{
    text-align: center;
}
.short-d{
    text-align: center;
}

.item-section {
    margin: 200px auto;
}
.item-link {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}